body {
    font-family: "Roboto";
    color: #222222;
}

.container {
    margin: 0 auto;
    width: 70%;
}

a {
    text-decoration: none;
    color: #73738D;
}

li {
    display: block;
}

@media screen and (max-width: 320px) {
    body {
        text-align: center;
        padding-left: 10px;
        padding-right: 10px;
    }
}
